/* .myGrid {
  width: 1366px;
  height: 768px;
  display: grid;
  grid: 
      "header" auto
"body" 1fr
"footer" auto
      / 1fr;
  grid-gap: 16px;
}
.header {
  grid-area: header;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
}
.myGrid > div {
  //background: gray;
} */