.containernew{
  justify-content: left !important;
  padding-left: 31px !important;
}

.containertext{
  padding-left: 63%;
}

.body{
  background-color:burlywood;
  min-height: 700px;
  color:black
}